.header,
.footer,
.sidebar,
.derecha,
.cuadro,
.main {
  padding: 50px;
}

.header {
  color: white;
  background-color: #f5a7cf;
}
.footer {
  background-color: #ddc9da;
}
.main {
  background-color: #ddc9da;
  font-family:Arial;
}
.sidebar {
  background-color: #ddc9da;
  font-family:Arial;
}
.cuadro {
  background-color: #ddc9da;
  font-family:Arial;
}
.derecha {
  background-color: #ddc9da;
  font-family:Arial;
}
body {
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    column-gap: 1%;

    grid-template-rows: auto auto auto ;
    row-gap: 2%;
  }

  .header,
  .footer {
    grid-column:span 3;
  }

  .header,
  .footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
.header {
    grid-row: 1; 
    
  }
.cuadro {
  grid-column: 1;
  grid-row: 3;
  }
  .derecha {
    grid-column: 2;
    grid-row: 3;
    }

  .footer {
    grid-row: 4;

  }
  .sidebar {
    grid-column: 1;
    grid-row: 2;

  }
  .main {
    grid-column: 2;
    grid-row: 2;
  }
  @media (max-width: 400px) {
    .container {
      display: block;
    }
  }

  table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }